services:
  minio:
    image: quay.io/minio/minio:RELEASE.2025-03-12T18-04-18Z
    command: server --console-address ":9001" /data
    hostname: minio
    volumes:
      - minio_data:/data
    expose:
      - "9000"
      - "9001"
    env_file: .env

  nginx:
    image: nginx:1.19.2-alpine
    hostname: nginx
    volumes:
      - ./minio/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "9000:9000" # MinIO S3 API
      - "9001:9001" # MinIO Console
    depends_on:
      - minio

  mongodb:
    image: mongo:latest
    hostname: mongodb
    volumes:
      - mongodb_data:/data/db
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password
    restart: always

  qdrant:
    image: qdrant/qdrant:v1.14.1
    hostname: qdrant
    volumes:
      - qdrant_data:/qdrant/storage
    ports:
      - "6333:6333"
    restart: unless-stopped
    environment:
      - QDRANT__SERVICE__API_KEY=${QDRANT_API_KEY}

volumes:
  minio_data:
  mongodb_data:
  qdrant_data: 
